@inherits LayoutComponentBase
@using System.Reflection
@using Volo.Abp.AspNetCore.Components.Web.LeptonXTheme.Components.ApplicationLayout.Common
@using Volo.Abp.AspNetCore.Components.Web.LeptonXTheme.Components.ApplicationLayout.SideMenu.MainHeader
@using Volo.Abp.AspNetCore.Components.Web.LeptonXTheme.Components.ApplicationLayout.SideMenu.Navigation
@using Volo.Abp.Ui.Branding
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.AspNetCore.Components.Web.Theming.Components
@using Demo.Blazor.Pages
@using BootstrapBlazor.Components

@inject IBrandingProvider BrandingProvider

<div class="lpx-scroll-container ps">
	<div id="lpx-wrapper">
		<MainHeader />
		<div class="lpx-content-container">
			<div class="lpx-topbar-container">
				<div class="lpx-topbar">
					@{
						if (UnUseTabsUrlList.Any(x=>NavigationManager.Uri.Contains(x)))
						{
							<Breadcrumbs />
						}
					}
				</div>
			</div>
			<div class="lpx-content-wrapper">
				<div class="lpx-content">
					<ContentToolbar/>
					<PageAlert />
					@{
						//不加载至tab组件的路由
						if (UnUseTabsUrlList.Any(x=>NavigationManager.Uri.Contains(x)))
						{
							@Body
						}
						//加载tab组件
						else
						{
							<BootstrapBlazor.Components.Tab ClickTabToNavigation="true"  ShowExtendButtons="true"  ShowClose="true" OnClickTabItemAsync="OnClickTabItemAsync" AdditionalAssemblies="@otherAssemblys" />
						}
						}
					<DynamicLayoutComponent />
					<UiMessageAlert />
					<UiNotificationAlert />
				</div>
			</div>
		</div>

		<MobileNavbar />

		<div class="lpx-toolbar-container">
			<MainHeaderToolbar />
		</div>
	</div>
</div>
@code {

}
